{% extends "crpt201511/common/header.html" %}
{% load admin_static %}
{% block content %}
<div class="jumbotron col-md-12" >
    <h1 class="page-header">{{ hazard_group.name }} - Hazard Types</h1>

    <div class="row col-md-12" style="position:relative;">


        {% for ht in hazard_types %}
            {% if forloop.counter == 1 or forloop.counter == 6 or forloop.counter == 11 %}
                <div class="row col-md-12" style="position:relative;margin-bottom:20px;text-align:center;">
            {% endif %}
                {% if hazard_types|length >= 5%}
                <div style="width:20%;float:left;text-align:center;">
                {% else %}
                <div style="width:{{ht_width}}%;float:left;text-align:center;">
                {% endif%}
                    <a href="{% url 'hazard_type_detail' assessment_id=assessment.id ht_id=ht.id %}" style="width:100%;">
                        {% if hazard_types|length >= 5 %}
                            <img src="{% static "" %}crpt201511/img/{{ht.underscored_name|lower}}.png"  style="height:90%;width:90%;"/>
                        {% else %}
                            {% if hazard_types|length >= 2 %}
                                <img src="{% static "" %}crpt201511/img/{{ht.underscored_name|lower}}.png"  style="height:50%;width:50%;"/>
                            {% else %}
                                <img src="{% static "" %}crpt201511/img/{{ht.underscored_name|lower}}.png"  style="height:250px;width:250px;"/>
                            {% endif %}
                        {% endif %}
                    </a>
                </div>
            {% if forloop.counter|divisibleby:"5" %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="row col-md-12" style="position:relative;">
    <div class="col-md-1" style="padding-left:10px;margin-top:15px;">
        <a href="{% url 'hazard_groups' assessment_id=assessment.id %}" class="btn btn-danger">Groups</a>
    </div>
    <div class="row col-md-12" style="position:relative;">
</div>


{% endblock %}
