{% extends "crpt201511/common/header.html" %}
{% load admin_static %}
{% block main_menu %}
<div id="crpt-left-menu" class="col-md-2 padding_right">
    <div class="row col-md-12">
        {% comment %} nav bar {% endcomment %}
        <div id="navbar" class="bs-component col-md-12">
            <div style="width:25%;height:20px;text-align:center;background-color:#73797C;float:left;">
                <a href="/" alt="Home" data-toggle="tooltip" data-placement="top" data-original-title="Home"><img src="{% static 'crpt201511/img/home.png' %}" style="vertical-align:top;width:42px;height:18px;"/></a>
            </div>
            <div style="width:25%;height:20px;text-align:center;background-color:#73797C;float:left;">
                <a href="/steps/{{assessment.id}}" alt="Steps" data-toggle="tooltip" data-placement="top" data-original-title="Steps"><img src="{% static 'crpt201511/img/steps.png' %}" style="vertical-align:top;width:42px;height:18px;"/></a>
            </div>
            <div style="width:25%;height:20px;text-align:center;background-color:#73797C;float:left;">
                <a href="#" alt="Back" data-toggle="tooltip" data-placement="top" data-original-title="Back"><img src="{% static 'crpt201511/img/back.png' %}" style="vertical-align:top;width:42px;height:18px;"/></a>
            </div>
            <div style="width:25%;height:20px;text-align:center;background-color:#73797C;float:left;">
                <a href="#" alt="Help" data-toggle="tooltip" data-placement="top" data-original-title="Help"><img src="{% static 'crpt201511/img/help.png' %}" style="vertical-align:top;width:42px;height:18px;"/></a>
            </div>
        </div>
    </div> <!-- row -->

    <div class="row col-md-12" style="height:15px;"></div>

    {% comment %} left menu {% endcomment %}
    <div class="row col-md-12">
        <div class="list-group table-of-contents">

            <a class="list-group-item {% if selected == "HT_DETAIL" %}selected{% else %}selected2{% endif %}" href="{% url 'hazard_type_detail' assessment_id=assessment.id ht_id=ht.id %}">Detail</a>
            <a class="list-group-item {% if selected == "HT_INTERREL" %}selected{% else %}selected2{% endif %}" href="{% url 'hazard_type_interrelations' assessment_id=assessment.id ht_id=ht.id %}">Interrelations</a>
            <a class="list-group-item {% if selected == "HT_IMPACTS" %}selected{% else %}selected2{% endif %}" href="{% url 'hazard_type_impacts' assessment_id=assessment.id ht_id=ht.id %}">Impacts</a>
            {% for element in elements %}
                <a class="list-group-item {% if selected == "HT_IMPACTS" %}selected{% else %}selected2{% endif %}" href="{% url 'hazard_type_impacts' assessment_id=assessment.id ht_id=ht.id element_id=element.id %}">Impacts</a>
            {% endfor %}
        </div>

    </div>

</div> <!-- crpt-nav-menu -->
{% endblock %}
