{% extends "crpt201511/common/nav_menu.html" %}
{% load widget_tweaks %}
{% block content %}
<div id="crpt-menu_page" class="row col-md-12">
    <div class="row col-md-12">
        <div id="crpt-left-menu" class="col-md-2 padding_right">

            <div class="list-group table-of-contents">
                {% for elem in left_elements %}
                    <a class="list-group-item {% if subsection.name == elem.name %}selected{% endif %}" href="{% url 'city_id' assessment_id=assessment.id section_id=section.id subsection_id=elem.id %}">{{ elem.name }}</a>
                    {% for item in elem.elements %}
                        <a class="list-group-item group_item" href="{% url 'city_id' assessment_id=assessment.id section_id=section.id subsection_id=elem.id %}">&nbsp;&nbsp;{{ item.name }}</a>
                    {% endfor %}
                {% endfor %}
            </div>

        </div>

        <div id="crpt-center" class="col-md-6 padding_right">
            <div class="bs-component">
                <div class="well bs-component">
                    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                        <legend>
                            {{ section.long_name }}
                            <a href="#" alt="Help" data-toggle="modal" data-target="#myModal"></a>&nbsp;&nbsp;
                        </legend>
                        <blockquote>{{ subsection.long_name }}</blockquote>
                        <fieldset id="fs">
                            {% comment %} fs display {% endcomment %}
                            {{ fs.management_form }}
                            {% if fs.errors %}
                            <!-- TODO: form errors treatement -->
                            {% endif %}
                                {% for form in fs %}
                                    {%comment%}
                                        preparing the form to be printed
                                        need to print form.id to avoid errors in post request
                                        rest of hidden fields
                                    {%endcomment%}
                                    {{form.id}}
                                    <!-- TODO: form fields display as a function of type of question and except MoV section -->
                                    <div class="form-group" order="{{ form.order.value }}">
                                        <label class="col-md-12 control-label padding_right" style="text-align:left;">{{ form.question_long.value }}</label>
                                        {% if form.instance.question_type == "UPLOAD_FIELD" %}
                                            <div class="col-md-12">
                                            {% if form.files.errors %}
                                                {{ form.files.errors }}
                                            {% else %}
                                                Uploaded files:<br>
                                                <ul>
                                                {% if form.file_0 %}
                                                    <li>{{ form.file_0.value }}
                                                {% endif %}

                                                {% if form.file_1 %}
                                                    <li>{{ form.file_1.value }}
                                                {% endif %}

                                                {% if form.file_2 %}
                                                    <li>{{ form.file_2.value }}
                                                {% endif %}
                                                </ul>
                                            {% endif%}
                                            </div>
                                            <div class="col-md-12">
                                                {% with form_id=forloop.counter|add:"-1" %}
                                                <a href="#" class="btn btn-danger" {% if not form.file_2 %}onclick="upload_files_click('{{ form_id }}');"{% endif %}>Select files</a>
                                                {% endwith%}
                                                {% render_field form.files class+="no_visible" %}
                                            </div>
                                        {% else %}
                                        <div id="crpt-select-form" class="col-md-12">
                                            {% if form.choices.value != "" and form.help_text and form.help_text.value != '' %}
                                                <span class="help-block">{{ form.help_text.value }}</span>
                                            {% endif %}
                                            {% if form.n_a %} {{ form.n_a }} Select if not applicable {% endif %}
                                            {% if form.multi.value = True %}
                                                {% render_field form.response class+="" placeholder=form.placeholder.value rows=3 %}
                                            {% else %}
                                                {% render_field form.response class+="form-control" placeholder=form.placeholder.value rows=3 %}
                                            {% endif %}
                                            {% if form.choices.value == "" and form.help_text and form.help_text.value != '' %}
                                                <span class="help-block">{{ form.help_text.value }}</span>
                                            {% endif %}

                                            {{ form.other.label_tag }}
                                            {% render_field form.other class+="form-control" %}
                                        </div>
                                        {% endif %}
                                        {% comment %}Print hidden fields{% endcomment %}
                                        {{ form.question_short.as_hidden }}
                                        {{ form.question_long.as_hidden }}
                                        {{ form.help_text.as_hidden }}
                                        {{ form.order.as_hidden }}
                                        {{ form.placeholder.as_hidden }}
                                        {{ form.version.as_hidden }}
                                        {{ form.section.as_hidden }}
                                        {{ form.assessment.as_hidden }}
                                        {{ form.multi.as_hidden }}
                                        {{ form.choices.as_hidden }}
                                        {{ form.not_applicable.as_hidden }}
                                        {{ form.question_type.as_hidden }}
                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                    </div>
                                {% endfor %}

                            <div class="form-group" order="9999">
                                <div class="col-md-10 col-md-offset-0">
                                  {% comment %}
                                  <button type="reset" class="btn btn-default">Cancel</button>
                                  {% endcomment %}
                                  <button type="submit" class="btn btn-danger">Save</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>

                </div> <!-- panel default -->
            </div>
        </div> <!-- crpt-center -->

        <div id="crpt-right-column" class="col-md-4">

            <div id="crpt-right-menu" class="right-menu">
                <a id="a-considerations" class="selected" href="#" onclick="showConsiderations();">Considerations</a>
                <br>
                <a id="a-comments" href="#" onclick="showComments();">{%if comments|length > 0 %} ({{comments|length}}) {%endif%}Comments</a>
            </div>


            <div id="crpt-right-considerations" style="width:100%;">
                <div class="panel panel-default" >
                    <div class="panel-heading">Considerations</div>
                    <div class="panel-body">
                        {% if considerations and considerations|length > 0%}
                            {% for item in considerations %}
                                <p>{{ item.comment }}</p>
                            {% endfor %}
                        {% else %}
                            <p>This section has no considerations</p>
                        {% endif %}
                    </div>
                </div>
            </div>


            <div id="crpt-right-comments">
                <div class="panel panel-default">
                    <div class="panel-heading">Your comments on this question</div>
                        {% if comments and comments|length > 0%}
                            {% for item in comments %}
                                <div class="panel-body">
                                    <p>{{ item.comment }}.</p>
                                    <p>User:<i>{{ item.person.name }}</i>. Date:<i>{{item.date_created}}</i></p>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="panel-body">
                                <p>This section has no comments</p>
                            </div>
                        {% endif %}
                    <div class="panel-body">
                        <form action="/add_section_comment/" method="post">{% csrf_token %}
                            <fieldset>
                            <div class="form-group">
                                <div class="">
                                    <textarea class="form-control" rows="3" id="textComments" name="textComments" placeholder="Add any comments or notes"></textarea>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="send_mail"> Send to CRPP Team
                                        </label>
                                    </div>
                                    <input type="hidden" name="assessment_id" value="{{assessment.id}}"/>
                                    {% if subsection %}
                                        <input type="hidden" name="section_id" value="{{subsection.id}}"/>
                                    {% else %}
                                        <input type="hidden" name="section_id" value="{{section.id}}"/>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="">
                                    <button type="reset" class="btn btn-default">Cancel</button>
                                    <button type="submit" class="btn btn-danger">Save</button>
                                </div>
                            </div>
                        </fieldset>
                        </form>
                    </div>
                </div>
                {% comment %} <!-- Commented not to have 2 forms in comments -->
                <div class="panel panel-default">
                    <div class="panel-heading">Send comments to CRPP Team</div>
                        <div class="panel-body">
                            <form>
                                <fieldset>
                                    <div class="form-group">
                                            <a id="a-copy" href="#" onclick="copyComments();">Copy comments</a>
                                            <textarea class="form-control" rows="3" id="textEmail" placeholder="Send any comments or questions to CRPP Team"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <div class="">
                                          <button type="reset" class="btn btn-default">Cancel</button>
                                          <button type="submit" class="btn btn-danger">Send</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                {% endcomment %} <!-- Commented not to have 2 forms in comments -->
            </div> <!-- right comments -->

            <div style="clear:both;"></div>

        </div> <!-- right col -->

    </div> <!-- row -->

</div> <!-- crpt-menu-page -->


{% endblock %}
