{% load admin_static %}{% load firstof from future %}{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title> | 'CRPT - City Resilience Profile Tool'</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'crpt201511/css/bootstrap.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'crpt201511/css/crpt.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'crpt201511/css/login_bootstrap.css' %}" media="screen">
</head>
<body onload="orderQuestions();setFocusFirstElemForm();">
    <div id="crpt" class="container">
        {% block header%}{% endblock %}
        {% block main_menu %}{% endblock %}
        {% block content%}{% endblock %}
    </div>

    <script src="{% static 'crpt201511/js/jquery.min.js' %}"></script>
    <script src="{% static 'crpt201511/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'crpt201511/js/custom.js' %}"></script>
    <script src="{% static 'crpt201511/js/crpt.js' %}"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    <script src="{% static 'crpt201511/js/crpt-charts.js' %}"></script>

    <script>
        $(function () {

            $('#overall-completion-noshow').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                credits: {
                    enabled: false
                },
                exporting: {
                    enabled: false
                },
                title: {
                    text: 'Completion'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false
                        },
                        showInLegend: true
                    }
                },
                series: [{
                    name: 'Completion',
                    colorByPoint: true,
                    data: [{
                        name: 'Filled',
                        y: {{filled_percen}}
                    }, {
                        name: 'Not Filled',
                        y: {{not_filled_percen}},
                        sliced: true,
                        selected: true
                    }]
                }]
            });


            Highcharts.chart('overall-completion', {

                chart: {
                    type: 'solidgauge',
                    marginTop: 50
                },
                credits: {
                    enabled: false
                },
                exporting: {
                    enabled: false
                },

                title: {
                    text: 'Completion',
                    style: {
                        fontSize: '24px'
                    }
                },

                tooltip: {
                    borderWidth: 0,
                    backgroundColor: 'none',
                    shadow: false,
                    style: {
                        fontSize: '16px'
                    },
                    pointFormat: '{series.name}<br><span style="font-size:2em; color: {point.color}; font-weight: bold">{point.y}%</span>',
                    positioner: function (labelWidth, labelHeight) {
                        return {
                            x: 200 - labelWidth / 2,
                            y: 180
                        };
                    }
                },

                pane: {
                    startAngle: 0,
                    endAngle: 360,
                    background: [{ // Track for Elements
                        outerRadius: '112%',
                        innerRadius: '88%',
                        backgroundColor: Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0.3).get(),
                        borderWidth: 0
                    } /*, { // Track for City ID
                        outerRadius: '87%',
                        innerRadius: '63%',
                        backgroundColor: Highcharts.Color(Highcharts.getOptions().colors[1]).setOpacity(0.3).get(),
                        borderWidth: 0
                    }, { // Track for Hazards
                        outerRadius: '62%',
                        innerRadius: '38%',
                        backgroundColor: Highcharts.Color(Highcharts.getOptions().colors[2]).setOpacity(0.3).get(),
                        borderWidth: 0
                    }*/ ]
                },

                yAxis: {
                    min: 0,
                    max: 100,
                    lineWidth: 0,
                    tickPositions: []
                },

                plotOptions: {
                    solidgauge: {
                        borderWidth: '34px',
                        dataLabels: {
                            enabled: false
                        },
                        linecap: 'round',
                        stickyTracking: false
                    }
                },

                series: [{
                    name: 'Elements',
                    borderColor: Highcharts.getOptions().colors[0],
                    data: [{
                        color: Highcharts.getOptions().colors[0],
                        radius: '100%',
                        innerRadius: '100%',
                        y: {{filled_percen}}
                    }]
                } /* ,  {
                    name: 'City ID',
                    borderColor: Highcharts.getOptions().colors[1],
                    data: [{
                        color: Highcharts.getOptions().colors[1],
                        radius: '75%',
                        innerRadius: '75%',
                        y: 65
                    }]
                }, {
                    name: 'Hazards',
                    borderColor: Highcharts.getOptions().colors[2],
                    data: [{
                        color: Highcharts.getOptions().colors[2],
                        radius: '50%',
                        innerRadius: '50%',
                        y: 50
                    }]
                } */]
            },

            /**
             * In the chart load callback, add icons on top of the circular shapes
             */
            function callback() {

                // Elements icon

                this.renderer.path(['M', -8, 0, 'L', 8, 0, 'M', 0, -8, 'L', 8, 0, 0, 8])
                    .attr({
                        'stroke': '#303030',
                        'stroke-linecap': 'round',
                        'stroke-linejoin': 'round',
                        'stroke-width': 2,
                        'zIndex': 10
                    })
                    .translate(190, 26)
                    .add(this.series[0].group);

                // City ID icon
                /*
                this.renderer.path(['M', -8, 0, 'L', 8, 0, 'M', 0, -8, 'L', 8, 0, 0, 8, 'M', 8, -8, 'L', 16, 0, 8, 8])
                    .attr({
                        'stroke': '#303030',
                        'stroke-linecap': 'round',
                        'stroke-linejoin': 'round',
                        'stroke-width': 2,
                        'zIndex': 10
                    })
                    .translate(190, 61)
                    .add(this.series[2].group);
                */
                // Hazards icon
                /*
                this.renderer.path(['M', 0, 8, 'L', 0, -8, 'M', -8, 0, 'L', 0, -8, 8, 0])
                    .attr({
                        'stroke': '#303030',
                        'stroke-linecap': 'round',
                        'stroke-linejoin': 'round',
                        'stroke-width': 2,
                        'zIndex': 10
                    })
                    .translate(190, 96)
                    .add(this.series[2].group);
                */
            });




            $('#overall-dimensions').highcharts({
                chart: {
                    polar: true,
                    type: 'line'
                },
                credits: {
                    enabled: false
                },
                exporting: {
                    enabled: false
                },
                title: {
                    text: 'Overall Profile'
                },
                pane: {
                    size: '80%'
                },
                xAxis: {
                    categories: ['Organisational', 'Physical', 'Functional',],
                    tickmarkPlacement: 'on',
                    lineWidth: 0
                },
                yAxis: {
                    gridLineInterpolation: 'polygon',
                    lineWidth: 0,
                    min: 0,
                    max: 10
                },
                tooltip: {
                    shared: true,
                    pointFormat: '<span style="color:{series.color}">{series.name}: <b>{point.y}</b><br/>'
                },
                legend: {
                    align: 'center',
                    verticalAlign: 'bottom',
                    y: 0,
                    layout: 'vertical'
                },
                series: [{
                    name: 'Overall Score',
                    data: [{{ organisational_score }}, {{ physical_score }}, {{ functional_score }}],
                    pointPlacement: 'on'
                }]

            });

            $('#overall-mov').highcharts({
                credits: {
                    enabled: false
                },
                exporting: {
                    enabled: false
                },
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Degree of certainty'
                },
                xAxis: {
                    categories: ['Public Knowledge', 'Media', 'Official Document']
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: ''
                    }
                },
                tooltip: {
                    pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y:00.00f}</b> ({point.percentage:.0f}%)<br/>',
                    shared: true
                },
                plotOptions: {
                    column: {
                        stacking: 'percent'
                    }
                },
                series: [{
                    name: 'Public Knowledge',
                    data: [{{ mov_public_knowledge }}]
                }, {
                    name: 'Media',
                    data: [{{ mov_media }}]
                }, {
                    name: 'Oficial Document',
                    data: [{{ mov_official_document }}]
                }]
            });




        });

    </script>


</body>
</html>
