{% extends "crpt201511/common/base.html" %}
{% block header %}
    <div id="crpt-header">
        <div class="page-header" style="margin: 18px 0px 18px;" id="banner">
            <div class="row  header">
                <div class="col-md-10 header-city header-height">
                    {{ person.city.name }}
                </div>

                <div class="btn-group col-md-1 header-height">
                  <a href="#" class="header-menu dropdown-toggle" data-toggle="dropdown">Resources</a>
                  <ul class="dropdown-menu">
                    <li><a href="#">User Guide</a></li>
                    <li class="divider"></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Contact</a></li>
                  </ul>
                </div>

                <div class="btn-group col-md-1 header-height">
                  <a href="#" class="header-menu dropdown-toggle" data-toggle="dropdown">City</a>
                  <ul class="dropdown-menu">
                    <li><a href="#">History</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Change Password</a></li>
                    <li><a href="/logout">Logout</a></li>
                  </ul>
                </div>
            </div> <!-- row -->
        </div><!-- banner -->
    </div> <!-- crpt-header -->
{% endblock %}
