{% extends "crpt201511/common/header.html" %}
{% block content %}
<div class="jumbotron col-md-12" >
    <h1 class="page-header">Welcome</h1>

    <div id="welcome">
        <h2>This assessment was started on 14th. March 2016</h2>

        <h3>The graphics below show the degree of achievement on each section of the assessment</h3>

        <p></p>

    </div>
    <div class="col-md-12">
        <div id="overall-completion" class="col-md-4" style="background-color:#F5F5F5;">

        </div>
        <div id="overall-dimensions" class="col-md-4">

        </div>
        <div id="overall-mov" class="col-md-4">

        </div>
    </div >
    <div class="col-md-1 col-md-offset-11" style="padding-left:30px;margin-top:15px;">
        <a href="{% url 'steps' assessment_id=assessment.id %}" class="btn btn-danger">Next</a>
    </div>




</div>


{% endblock %}
