{% extends "crpt201511/common/nav_menu.html" %}
{% load widget_tweaks %}
{% block content %}
<div id="crpt-menu_page" class="row col-md-12">
    <div class="row col-md-12">
        <div id="crpt-left-menu" class="col-md-2 padding_right">

            <div class="list-group table-of-contents">
                {% for elem in left_elements %}
                    {% if subsection.name == elem.name %}
                        <a class="list-group-item selected" href="{% url 'component' assessment_id=assessment.id component_id=section.id subcomponent_id=elem.id %}">{{ elem.name }}</a>
                        {% for item in elem.parent_element.all|dictsort:"order" %}
                            <a class="list-group-item group_item {% if item.name = third_component.name %} selected2 {% endif %}" href="{% url 'component' assessment_id=assessment.id component_id=section.id subcomponent_id=elem.id third_component_id=item.id%}">&nbsp;&nbsp;{{ item.name }}</a>
                        {% endfor %}
                    {% else %}
                        <a class="list-group-item left_section" href="{% url 'component' assessment_id=assessment.id component_id=section.id subcomponent_id=elem.id %}">{{ elem.name }}</a>
                    {% endif%}
                {% endfor %}
            </div>

        </div>

        <div id="crpt-center" class="col-md-6 padding_right">
            <div class="bs-component">
                <div class="well bs-component">
                    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                        <legend>
                            {{ section.long_name }}
                            <a href="#" alt="Help" data-toggle="modal" data-target="#myModal"></a>&nbsp;&nbsp;
                        </legend>
                        <blockquote>{{ subsection.long_name }} - {{ third_component.long_name }}</blockquote>
                        <fieldset id="fs">
                            {% comment %} fs_cf display {% endcomment %}
                            {{ fs_cf.management_form }}
                            {% if fs_cf.errors %}
                            <!-- TODO: form errors treatement -->
                            {% endif %}
                            {% for form in fs_cf %}
                                {%comment%}
                                    preparing the form to be printed
                                    need to print form.id to avoid errors in post request
                                    rest of hidden fields
                                {%endcomment%}
                                {{form.id}}
                                {{form.errors}}
                                <!-- TODO: form fields display as a function of type of question and except MoV section -->
                                {% if form.question_short.value %}
                                        {% comment%} Treatment to put a single row for question with units {% endcomment %}
                                        {% if form.mov_position.value == -1 %}
                                            {% if form.units.value == 0 %}
                                                <div class="form-group col-md-12" order="{{ form.order.value }}">
                                                    {% if forloop.counter > 1 and form.has_mov.value  == True %}
                                                    <legend></legend>
                                                    {% endif %}
                                                    <label class="col-md-12 control-label padding_right" style="text-align:left;">{{ form.question_long.value }}</label>
                                                    <div class="col-md-12">
                                            {% endif %}
                                            {% if form.units.value == 1 %}
                                                <div class="form-group col-md-8" order="{{ form.order.value }}">
                                                    {% if forloop.counter > 1 and form.has_mov.value  == True %}
                                                    <legend></legend>
                                                    {% endif %}
                                                    <label class="col-md-12 control-label padding_right" style="text-align:left;">{{ form.question_long.value }}</label>
                                                    <div class="col-md-12">
                                            {% endif %}
                                            {% if form.units.value == 2 %}
                                                <div class="form-group col-md-4" order="{{ form.order.value }}">
                                                    {% if forloop.counter > 2 and form.has_mov.value  == True %}
                                                    <legend></legend>
                                                    {% endif %}
                                                    <label class="col-md-12 control-label padding_right" style="text-align:left;">{{ form.question_long.value }}</label>
                                                    <div class="col-md-12">
                                            {% endif %}
                                        {% endif %}
                                        {% if form.units.value == -1 %}
                                                <div class="form-group col-md-4" order="{{ form.order.value }}">
                                                    {% if forloop.counter > 1 and form.has_mov.value  == True %}
                                                    <legend></legend>
                                                    {% endif %}
                                                    <label class="col-md-12 control-label padding_right" style="text-align:left;">{{ form.question_long.value }}</label>
                                                    <div class="col-md-12">
                                        {% endif %}

                                    {% if form.n_a %} {{ form.n_a }} Select if not applicable {% endif %}
                                        {% render_field form.response class+="form-control" placeholder=form.placeholder.value %}
                                        {% if form.help_text and form.help_text.value != '' %}
                                            <span class="help-block">{{ form.help_text.value }}</span>
                                        {% endif %}
                                        {% comment %}Print hidden fields{% endcomment %}
                                        {{ form.question_short.as_hidden }}
                                        {{ form.question_long.as_hidden }}
                                        {{ form.help_text.as_hidden }}
                                        {{ form.order.as_hidden }}
                                        {{ form.placeholder.as_hidden }}
                                        {{ form.version.as_hidden }}
                                        {{ form.section.as_hidden }}
                                        {{ form.assessment.as_hidden }}
                                        {{ form.not_applicable.as_hidden }}
                                        {{ form.has_mov.as_hidden }}
                                        {{ form.units.as_hidden }}

                                            </div>
                                </div>
                                {% endif %}
                            {% endfor %}

                            {% comment %} fs_tf display {% endcomment %}
                            {{ fs_tf.management_form }}
                            {% if fs_tf.errors %}
                            <!-- TODO: form errors treatement -->
                            {% endif %}
                                {% for form in fs_tf %}
                                    {%comment%}
                                        preparing the form to be printed
                                        need to print form.id to avoid errors in post request
                                        rest of hidden fields
                                    {%endcomment%}
                                    {{form.id}}
                                    <!-- TODO: form fields display as a function of type of question and except MoV section -->
                                    {% if form.question_short.value %}
                                    <div class="form-group" order="{{ form.order.value }}">
                                        {% if forloop.counter > 1 and form.has_mov.value  == True %}
                                            <legend></legend>
                                        {% endif %}
                                        <label class="col-md-12 control-label padding_right" style="text-align:left;">{{ form.question_long.value }}</label>
                                        <div class="col-md-12">
                                            {% if form.n_a %} {{ form.n_a }} Select if not applicable {% endif %}
                                            {% render_field form.response class+="form-control" placeholder=form.placeholder.value rows=3 %}
                                            {% if form.help_text and form.help_text.value != '' %}
                                                <span class="help-block">{{ form.help_text.value }}</span>
                                            {% endif %}
                                            {% comment %}Print hidden fields{% endcomment %}
                                            {{ form.question_short.as_hidden }}
                                            {{ form.question_long.as_hidden }}
                                            {{ form.help_text.as_hidden }}
                                            {{ form.order.as_hidden }}
                                            {{ form.placeholder.as_hidden }}
                                            {{ form.version.as_hidden }}
                                            {{ form.section.as_hidden }}
                                            {{ form.assessment.as_hidden }}
                                            {{ form.not_applicable.as_hidden }}
                                            {{ form.has_mov.as_hidden }}
                                            {{ form.units.as_hidden }}
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}

                            {% comment %} fs_sf display {% endcomment %}
                            {{ fs_sf.management_form }}
                            {% if fs_sf.errors %}
                            <!-- TODO: form errors treatement -->
                            {% endif %}
                                {% for form in fs_sf %}
                                    {%comment%}
                                        preparing the form to be printed
                                        need to print form.id to avoid errors in post request
                                        rest of hidden fields
                                    {%endcomment%}
                                    {{form.id}}
                                    <!-- TODO: form fields display as a function of type of question and except MoV section -->
                                    {% if form.question_short.value %}

                                        {% comment%} Treatment to put a single row for question with units {% endcomment %}
                                        {% if form.mov_position.value == -1 %}
                                            {% if form.units.value == 0 %}
                                                <div class="form-group col-md-12" order="{{ form.order.value }}">
                                                    {% if forloop.counter > 1 and form.has_mov.value  == True %}
                                                    <legend></legend>
                                                    {% endif %}
                                                    <label class="col-md-12 control-label padding_right" style="text-align:left;">{{ form.question_long.value }}</label>
                                                    <div id="crpt-select-form" class="col-md-12">
                                            {% endif %}
                                            {% if form.units.value == 1 %}
                                                <div class="form-group col-md-8" order="{{ form.order.value }}">
                                                    {% if forloop.counter > 1 and form.has_mov.value  == True %}
                                                    <legend></legend>
                                                    {% endif %}
                                                    <label class="col-md-12 control-label padding_right" style="text-align:left;">{{ form.question_long.value }}</label>
                                                    <div id="crpt-select-form" class="col-md-12">
                                            {% endif %}
                                            {% if form.units.value == 2 %}
                                                <div class="form-group col-md-4" order="{{ form.order.value }}">
                                                    {% if forloop.counter > 1 and form.has_mov.value  == True %}
                                                    <legend></legend>
                                                    {% endif %}
                                                    <label class="col-md-12 control-label padding_right" style="text-align:left;">{{ form.question_long.value }}</label>
                                                    <div id="crpt-select-form" class="col-md-12">
                                            {% endif %}
                                        {% endif %}
                                        {% if form.units.value == -1 %}
                                                <div class="form-group col-md-4" order="{{ form.order.value }}">
                                                    {% if forloop.counter > 1 and form.has_mov.value  == True %}
                                                    <legend></legend>
                                                    {% endif %}
                                                    <label class="col-md-12 control-label padding_right" style="text-align:left;">{{ form.question_long.value }}</label>
                                                    <div id="crpt-select-form" class="col-md-12">
                                        {% endif %}


                                        {% if form.n_a %} {{ form.n_a }} Select if not applicable {% endif %}
                                            {% if form.multi.value = True %}
                                                {% render_field form.response class+="" placeholder=form.placeholder.value rows=3 %}
                                            {% else %}
                                                {% render_field form.response class+="form-control" placeholder=form.placeholder.value rows=3 %}
                                            {% endif %}
                                            {% render_field form.other class+="form-control" %}
                                            {% if form.help_text and form.help_text.value != '' %}
                                                <span class="help-block">{{ form.help_text.value }}</span>
                                            {% endif %}
                                            {% comment %}Print hidden fields{% endcomment %}
                                            {{ form.question_short.as_hidden }}
                                            {{ form.question_long.as_hidden }}
                                            {{ form.help_text.as_hidden }}
                                            {{ form.order.as_hidden }}
                                            {{ form.placeholder.as_hidden }}
                                            {{ form.version.as_hidden }}
                                            {{ form.section.as_hidden }}
                                            {{ form.assessment.as_hidden }}
                                            {{ form.multi.as_hidden }}
                                            {{ form.choices.as_hidden }}
                                            {{ form.not_applicable.as_hidden }}
                                            {{ form.has_mov.as_hidden }}
                                            {{ form.units.as_hidden }}






                                            </div>
                                            </div>


                                    {% endif %}
                                {% endfor %}


                            <div class="form-group" order="9999">
                                <div class="col-md-10 col-md-offset-0">
                                  {% comment %}
                                  <button type="reset" class="btn btn-default">Cancel</button>
                                  {% endcomment %}
                                  <button type="submit" class="btn btn-danger">Save</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>

                </div> <!-- panel default -->
            </div>
        </div> <!-- crpt-center -->

        <div id="crpt-right-column" class="col-md-4">

            <div id="crpt-right-menu" class="right-menu">
                <a id="a-considerations" class="selected" href="#" onclick="showConsiderations();">Considerations</a>
                <br>
                <a id="a-comments" href="#" onclick="showComments();">{%if comments|length > 0 %} ({{comments|length}}) {%endif%}Comments</a>
            </div>


            <div id="crpt-right-considerations" style="width:100%;">
                <div class="panel panel-default" >
                    <div class="panel-heading">Considerations</div>
                    <div class="panel-body">
                        {% if considerations and considerations|length > 0%}
                            {% for item in considerations %}
                                <p>{{ item.comment }}</p>
                            {% endfor %}
                        {% else %}
                            <p>This section has no considerations</p>
                        {% endif %}
                    </div>
                </div>
            </div>


            <div id="crpt-right-comments">
                <div class="panel panel-default">
                    <div class="panel-heading">Your comments on this question</div>
                        {% if comments and comments|length > 0%}
                            {% for item in comments %}
                                <div class="panel-body">
                                    <p>{{ item.comment }}.</p>
                                    <p>User:<i>{{ item.person.name }}</i>. Date:<i>{{item.date_created}}</i></p>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="panel-body">
                                <p>This section has no comments</p>
                            </div>
                        {% endif %}
                    <div class="panel-body">
                        <form action="/add_section_comment/" method="post">{% csrf_token %}
                            <fieldset>
                            <div class="form-group">
                                <div class="">
                                    <textarea class="form-control" rows="3" id="textComments" name="textComments" placeholder="Add any comments or notes"></textarea>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="send_mail"> Send to CRPP Team
                                        </label>
                                    </div>
                                    <input type="hidden" name="assessment_id" value="{{assessment.id}}"/>
                                    {% if subsection %}
                                        <input type="hidden" name="section_id" value="{{subsection.id}}"/>
                                    {% else %}
                                        <input type="hidden" name="section_id" value="{{section.id}}"/>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="">
                                    <button type="reset" class="btn btn-default">Cancel</button>
                                    <button type="submit" class="btn btn-danger">Save</button>
                                </div>
                            </div>
                        </fieldset>
                        </form>
                    </div>
                </div>
                {% comment %} <!-- Commented not to have 2 forms in comments -->
                <div class="panel panel-default">
                    <div class="panel-heading">Send comments to CRPP Team</div>
                        <div class="panel-body">
                            <form>
                                <fieldset>
                                    <div class="form-group">
                                            <a id="a-copy" href="#" onclick="copyComments();">Copy comments</a>
                                            <textarea class="form-control" rows="3" id="textEmail" placeholder="Send any comments or questions to CRPP Team"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <div class="">
                                          <button type="reset" class="btn btn-default">Cancel</button>
                                          <button type="submit" class="btn btn-danger">Send</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                {% endcomment %} <!-- Commented not to have 2 forms in comments -->
            </div> <!-- right comments -->

            <div style="clear:both;"></div>

        </div> <!-- right col -->

    </div> <!-- row -->

</div> <!-- crpt-menu-page -->


{% endblock %}
